body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99%;
    text-align: center;
    background-color: #f3f1f7;
}
h3 {
    
    font-size: 2em;
    color: rgb(3, 169, 244);
    font-family: 'Homemade Apple', sans-serif;
}
section {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
   width: 75%;
}
.tweets {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    background: white;
    width: 100%;
    border-bottom: 1px solid black;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.add-thought {
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    font-family: 'Dosis', sans-serif;
    border-radius: 5px;
    width: 300px;
    height: 50x;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.form {
    background-color: #B1DDEA;
    text-align: left;
    font-family: 'Dosis', sans-serif;
}
.cancel {
    width: 10%;
    background-color: rgb(3, 169, 244);
    border: 1px solid rgb(3, 169, 244);
    font-size: 1em;
    margin-bottom: 5px;
    border-radius: 5px;
    color: white;
    font-family: 'Dosis', sans-serif;  
}
.tweet-title {
    font-family: 'Dosis', sans-serif;
    font-size: 1.25em;
    margin-bottom: 1px;
}
.tweet-body {
    font-family: 'Dosis', sans-serif;
    font-size: 1em;
    margin-bottom: 1px;
    opacity: .7;
}